@font-face {
    font-family: 'robotoslab';
    src: url(RobotoSlab.ttf) format('truetype');
}

body { margin: 0; padding: 0; }
#map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%; }

#nav{
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    background: rgb(80,214,120);
background: linear-gradient(90deg, rgba(80,214,120,1) 0%, rgba(96,208,205,1) 49%, rgba(0,212,255,1) 100%);
    font-family: 'robotoslab', 'Times New Roman', Times, serif;
    text-shadow: 1.5px 1px rgb(139, 139, 139);
}

#navText {
    flex-direction: column;
    line-height: 3px;
}

#navText p {
    color: red;
    text-shadow: 1px 1px rgb(12, 2, 2);
}


.marker{
    background-image: url('images/CO-fritillary-butterfly.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px black solid;
    cursor: pointer;
}

.marker:hover{
    border: 3px black solid;
    width: 70px !important;
    height: 70px !important;
    z-index: 2;
}

#AZ-marker{
    background-image: url('images/AZ-Fish.jpg');
    width: 60px;
    height: 60px;   
}

#AL-marker{
    background-image: url('images/AL-Fish.png');
    /* width: 60px;
    height: 60px;    */
}

#AR-marker{
    background-image: url('images/AR-Woodpecker.png');
    width: 60px;
    height: 60px;   
    margin-left: -5px;
}

#CA-marker{
    background-image: url('images/CA-Brush-Rabbit.png');
    width: 60px;
    height: 60px;  
}

#CO-marker{
    background-image: url('images/CO-fritillary-butterfly.png');
    width: 60px;
    height: 60px;  
}

#CT-marker{
    background-image: url('images/CT-Bird.jpg');
    width: 30px;
    height: 30px; 
    margin-top: 5px;
}

#DE-marker{
    background-image: url('images/DE-Turtle.png');
    width: 20px;
    height: 20px; 
}

#FL-marker{
    background-image: url('images/FL-Panther.jpg');
    margin-top: -25px;
    width: 45px;
    height: 45px; 
}

#GA-marker{
    background-image: url('images/GA-salamander.jpg');
    margin-top: 8px;
}

#ID-marker{
    background-image: url('images/ID-Caribou.jpg');
    width: 60px;
    height: 60px;  
}

#IL-marker{
    background-image: url('images/MI-Dragonfly.jpg');
}

#IN-marker{
    background-image: url('images/NY-owl.png');
}

#IA-marker{
    background-image: url('images/KY-frog.jpg');
    width: 60px;
    height: 60px;  
}

#KS-marker{
    background-image: url('images/KS-bird.png');
    width: 60px;
    height: 60px;  
}

#KY-marker{
    background-image: url('images/KY-frog.jpg');
    margin-top: 5px;
}

#ME-marker{
    background-image: url('images/CT-Bird.jpg');
}
#MD-marker{
    background-image: url('images/MD-Amphipod.jpg');
    width: 25px;
    height: 25px; 
}

#MA-marker{
    background-image: url('images/MA-turtle.jpg');
    width: 25px;
    height: 25px; 
    margin-left: -15px;
}

#MI-marker{
    background-image: url('images/MI-Dragonfly.jpg');
    width: 60px;
    height: 60px;  
}

#MN-marker{
    background-image: url('images/MN-Butterfly.jpg');
    width: 60px;
    height: 60px;  
}
#MS-marker{
    background-image: url('images/MS-Crane.jpg');
    margin-left: 8px;
}
#MO-marker{
    background-image: url('images/MO-wolf.jpg');
    width: 60px;
    height: 60px;  

}
#MT-marker, #SD-marker {
    background-image: url('images/MT-Ferret.jpg');
    width: 60px;
    height: 60px;  
}
#NV-marker{
    background-image: url('images/NV-Fish.jpg');
    width: 60px;
    height: 60px; 
}
#NH-marker{
    background-image: url('images/MN-Butterfly.jpg');
    width: 25px;
    height: 25px;
    margin-top: 15px;
}
#NJ-marker{
    background-image: url('images/DE-Turtle.png');
    width: 30px;
    height: 30px;
    margin-top:-8px;
    margin-left: 12px;
}
#NM-marker{
    background-image: url('images/NM-Salamander.jpg');
    width: 60px;
    height: 60px;
}
#NY-marker{
    background-image: url('images/NY-owl.png');
}
#NC-marker{
    background-image: url('images/NC-Butterfly.jpg');
    margin-left: 50px;
    margin-top: 10px;
}
#ND-marker,
#NE-marker {
    background-image: url('images/ND-Crane.jpg');
    width: 60px;
    height: 60px;  
}
#OH-marker{
    background-image: url('images/OH-Bird.png');
}
#OK-marker{
    background-image: url('images/OK-Bat.jpg');
    width: 60px;
    height: 60px; 
    margin-top: 15px;
}
#OR-marker{
    background-image: url('images/OR-turtle.jpg');
    width: 60px;
    height: 60px;  
}
#PA-marker{
    background-image: url('images/VT-bat.png');
    margin-top: 10px;
    margin-left: -5px;
}
#RI-marker{
    background-image: url('images/RI-turtle.jpg');
    width: 20px;
    height: 20px;
    margin-left: 10px; 
}
#SC-marker {
    background-image: url('images/SC-Turtle.jpg');
    margin-left: 10px;
}
#LA-marker {
    background-image: url('images/SC-Turtle.jpg');
    margin-top: -15px;
}

#TN-marker{
    background-image: url('images/TN-Crayfish.png');
    width: 45px;
    height: 45px;
}
#TX-marker{
    background-image: url('images/TX-chicken.jpg');
    width: 65px;
    height: 65px;  
    margin-top: -10px;
    margin-left: 15px;
}
#UT-marker{
    background-image: url('images/UT-bird.jpg');
    width: 60px;
    height: 60px; 
}
#VT-marker{
    background-image: url('images/VT-bat.png');
    width: 30px;
    height: 30px; 
    margin-top: -10px;
}
#VA-marker{
    background-image: url('images/RI-turtle.jpg');
    margin-top: 10px;
    margin-left: -5px;
}
#WA-marker{
    background-image: url('images/WA-rabbits.jpg');
    width: 60px;
    height: 60px;  
}
#WV-marker{
    background-image: url('images/WV-fish.jpg');
    width: 40px;
    height: 40px;  
    margin-top: 5px;
}
#WI-marker{
    background-image: url('images/WI-Bee.jpg');
    width: 60px;
    height: 60px;  
}
#WY-marker{
    background-image: url('images/WY-toad.jpg');
    width: 60px;
    height: 60px;  
}

#AK-marker {
    background-image: url('images/AK-bird.png');
    width: 60px;
    height: 60px; 
}

#HI-marker {
    background-image: url('images/HI-bird.png');
    width: 60px;
    height: 60px; 
}
.mapboxgl-popup {
    /* max-width: 230px; */
    padding: 10px;
    font-size: medium;
    color: black;
    z-index: 3;
}


@media (max-width: 768px) {
    .marker{
        max-width: 30px;
        max-height: 30px;
    }
    .marker:hover{
       min-width: 50px !important;
        min-height: 50px !important;
    }

    #CT-marker, #NJ-marker, #VT-marker{
        max-width: 20px;
        max-height: 20px;
    }

    #DE-marker, #MD-marker #MA-marker, #NH-marker, #RI-marker
    {
        max-width: 15px;
        max-height: 15px;
    }
    
}

@media (max-width: 380px) {
    .marker{
        max-width: 35px;
        max-height: 35px;
    }

    #navText {
        font-size: 10px;
        line-height: 10px;
        max-width: 350px;
        min-width: 300px;
        overflow: hidden;
    }
    #navText h3{
        font-size: 10px;
    }

    .mapboxgl-popup {
        padding: 2px;
        font-size: 7px;

        /* max-width: 150px;
        max-height: 150px; */
    }

    .mapboxgl-popup h1 {
        font-size: 10px;
    }
    .mapboxgl-popup p {
        overflow: scroll;
        max-width: 100px;
        max-height: 100px;
    }

    .mapboxgl-popup p::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 3px;
    }
    
    .mapboxgl-popup p::-webkit-scrollbar-track:vertical {
        background-color: rgb(111, 111, 223);
        border-radius: 6px;
    }
    
    .mapboxgl-popup p::-webkit-scrollbar-thumb:vertical {
        border-radius: 8px;
        background-color: blue;
    }
    
}